# Node dependencies
node_modules/

# Expo
.expo/
.expo-shared/
expo-env.d.ts

# Builds
dist/
web-build/

# IDEs
.idea/
.vscode/

# Native files
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*
.env.local

# TypeScript
*.tsbuildinfo

# Example or template apps
app-example/
